.fa-star-o {
	color: yellow;
}
.fa-star {
	color: yellow;
}
.survey-darkred {
	color: #c10808; 
}
.survey-red {
	color: #f32828;
}
/*.survey-orange {
	color: orange;
}*/
.survey-green {
	color: #0da50d;
}
.survey-darkgreen {
	color: DarkGreen;
}
.survey-blue {
	color: SkyBlue;
}
.survey-grey {
	color: Grey;
}
.survey-yellow {
	color: #FED009;
}
.survey-darkblue {
	color: #007bff;
}
/*#ce0606;;*/